
#19ctgridcontainer{
   
    header{
        grid-area: header;
    }

    #navbar{
        grid-area: navbar;
    }

    footer{
        grid-area: footer;
    }

    main{
        grid-area: main;
    }

    

}