#booksgirdcontainer {
    //general stylin for page
    main {
        section {
            h2 {
                margin-bottom: $medium-margin;
            }
        }
        p {
            width: decimal-width(8.5);
            margin-bottom: $medium-margin;
        }
        @include link-hover;
    }
    .pictures {
        margin-top: $medium-margin +2rem;
        text-align: center;
        img {
            max-width: decimal-width(5);
        }
    }
    //define grid areas
    header {
        grid-area: header;
    }
    main {
        grid-area: main;
    }
    #navbar {
        grid-area: navbar;
    }
    footer {
        grid-area: footer;
    }
    @media (max-width: #{$phone-width}) {
        @include single-column-grid;
        grid-template-areas: "header" "main" "navbar" "footer";
        grid-gap: $medium-gridgap;
    }
    @media (min-width: #{$tablet-width}) {
        @include two-column-grid;
        grid-template-areas: "header header" "main main" "navbar navbar" "footer footer";
    }
    @media (min-width: #{$desktop-width}) {
        @include three-column-grid;
        grid-template-areas: "header header header" "navbar main main" "footer footer footer";
    }
}