#booksgirdcontainer {
    //define grid areas
    header {
        grid-area: header;
    }
    main {
        grid-area: main;
    }
    #navbar {
        grid-area: navbar;
    }
    footer {
        grid-area: footer;
    }
    //general stylin for page
    main {
        p {
            width: 85%;
            @include center-block;
        }
        a {
            color: $brand-color;
            &:hover {
                font-weight: 600;
            }
        }
    }
    .pictures {
        margin-top: $medium-margin;
        display: flex;
        flex-direction: column;
        align-items: center;
        figure {
            img {
                max-width: 60%;
            }
        }
    }
    @media screen and(max-width: #{$phone-width}) {
        @include single-column-grid;
        grid-template-areas: "header" "main" "navbar" "footer";
        grid-gap: 1rem;
    }
    @media (min-width: #{$tablet-width}) {
        @include two-column-grid;
        grid-template-areas: "header header" "main main" "navbar navbar" "footer footer";
        grid-gap: 1rem;
    }
    @media screen and (min-width: #{$desktop-width}) {
        @include three-column-grid;
        grid-template-areas: "header header header" "navbar main main" "footer footer footer";
        grid-gap: 1rem;
    }
}