form {
    width: 80%;
    margin: 0 auto;
}

form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "contact" "interest" "extra1" "extra2" "submit";
    grid-gap: 0.8rem 0.4rem;
    background: #EEE;
    padding: 1rem;
    border: 2px solid #7E7E7E;
    margin-bottom: 2rem;
}

#contact {
    grid-area: contact;
}

#interest {
    grid-area: interest;
}

#extra1 {
    grid-area: extra1;
}

#extra2 {
    grid-area: extra2;
}

#submit {
    grid-area: submit;
}

label {
    display: block;
}

textarea {
    width: 100%;
    height: 8rem;
}

button {
    background: #444;
    color: #FFF;
    padding: 1rem;
}

input,
select {
    width: 92%;
    padding: 0.5rem;
    margin: 0.5rem 0;
    margin-left: 0.5rem;
}

input[type=checkbox],
input[type=radio] {
    vertical-align: middle;
    width: 10%;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

fieldset {
    border: 1px solid #A8A8A8;
}

@media (min-width: 1024px) {
    form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
        grid-template-areas: "contact interest" "contact extra1" "contact extra2" "submit submit";
        grid-gap: 0.8rem 0.5rem;
        max-width: 700px;
    }
}