        #deliverycontainer {
            table {
                border-collapse: collapse;
                border: 1px solid #000;
                width: 60%;
                text-align: center;
                margin-left: $small-margin;
            }
            th,
            td {
                border: 1px solid #000;
            }
            caption {
                font-size: 1.2rem;
                margin-bottom: $small-margin/2;
            }
            th {
                background-color: $table-bg;
            }
            tr:first-child {
                background-color: $table-bg;
            }
            header {
                grid-area: header;
            }
            #navbar {
                grid-area: navbar;
            }
            main {
                .deliveryinfo {
                    margin-top: $small-margin;
                    margin-left: $small-margin;
                }
            }
            footer {
                grid-area: footer;
            }
            @include mobile {
                @include single-column-grid;
                grid-template-areas: "header" "main" "navbar" "footer";
                grid-gap: 1rem;
            }
            @include tablet {
                @include two-column-grid;
                grid-template-areas: "header header" "main main" "navbar navbar" "footer footer ";
                td {
                    padding: $small-padding $small-padding*2;
                }
            }
            @include desktop {
                @include three-column-grid;
                grid-template-areas: "header header header" "navbar main main" "footer footer footer";
                td {
                    padding: $small-padding $large-padding;
                }
            }
        }