// FOOTER
footer {
    background-color: $brand-color;
    a {
        font-weight: lighter;
        color: $footer-links-color;
    }
    li {
        @include bulletless-list;
        margin: $small-margin;
        @include center-text;
    }
    p {
        color: $footer-links-color;
        font-weight: lighter;
        margin: $small-margin;
        span {
            font-family: Parisian;
            font-size: large;
        }
    }
    @include desktop {
        .top-links {
            @include hide-links;
        }
        .bottom-links {
            font-size: small;
        }
    }
}