@mixin position-top-right {
    position: absolute;
    top: 10px;
    right: 20px;
}

header {
    margin-top: $large-margin;
    //padding: $large-padding;
    h2 {
        font-family: Parisian;
        font-weight: 300;
        font-size: large;
    }
    #logo {
        background-image: url("images/Logo/emblem_logo_96.png");
    }
    .logotext {
        position: absolute;
        top: 40px;
        left: 100px;
        white-space: nowrap;
    }
    ul {
        white-space: nowrap;
        @include bulletless-list;
        li {
            display: inline-block;
            padding: $small-padding;
            a {
                color: $brand-color;
            }
        }
        position: absolute;
        top: 0px;
        right: 10px;
        height: 1%;
    }
}

//not working-----------
//.logodesktop {
//background-image: url("images/Logo/logo/emblem_logo_128.png");
//visibility: hidden;
// height: 1;
// @include desktop {
//    visibility: visible;
//    @include position-top-left;
// }
//}
#menubutton {
    position: absolute;
    top: 115px;
    left: 20px;
    @include bulletless-list;
    @include no-underline-link;
    @include center-text;
    color: black;
    background-color: $menu-button-color;
    border: 1px solid black;
    border-radius: 0.2rem;
    padding: 0.5rem;
    a:hover {
        background: $link-hover-bg;
    }
    @include desktop {
        display: none;
    }
}

:focus {
    outline: 3px dotted brown;
}

.skiplink {
    position: absolute;
    left: -10000px;
}

.skiplink:focus {
    left: 10px;
    top: 10px;
    background-color: $background-color;
}