p {
    width: 90%;
}

#homegridcontainer {
    figure {
        img {
            width: 100%;
            height: auto;
            padding: $large-padding;
        }
    }
    .main {
        h1 {
            margin: $small-margin;
        }
        h2 {
            margin: $small-margin;
        }
        P {
            margin: $small-margin;
        }
        ul {
            margin-left: 2rem;
            li {
                width: 90%;
            }
        }
        .media {
            width: 95%;
            height: auto;
            margin-left: 0.5rem;
        }
    }
    header {
        grid-area: header;
    }
    .main-picture {
        grid-area: main-picture;
    }
    #navbar {
        grid-area: navbar;
    }
    .main {
        grid-area: main;
    }
    .sidebar {
        grid-area: sidebar;
    }
    footer {
        grid-area: footer;
    }
    @include mobile {
        @include single-column-grid;
        grid-template-areas: "header" "main-picture" "main" "sidebar" "navbar" "footer";
        grid-gap: 1rem;
        .sidebar {
            figure {
                max-width: 40%;
                @include img-darken;
            }
            .sidebar-feature1 {
                margin-top: $small-margin;
                margin-left: $small-margin;
                h3 {
                    margin-bottom: $small-margin;
                }
            }
            margin-left: $small-margin;
            .sidebar-feature2 {
                margin-top: 1rem;
                margin-left: $small-margin;
            }
        }
    }
    @include tablet {
        @include two-column-grid;
        grid-template-areas: "header header" "main-picture main-picture" "main main" "sidebar sidebar" "navbar navbar" "footer footer";
        grid-gap: 1rem;
        .main-picture {
            width: 95%;
            @include center-block;
        }
        main {
            @include center-block;
        }
        .sidebar {
            figure {
                @include img-darken;
                img {
                    width: 45%;
                }
            }
        }
    }
    @include desktop {
        @include three-column-grid;
        grid-template-areas: "header header header" "navbar main-picture main-picture" "main main sidebar" "main main sidebar" "footer footer footer";
        .media {
            h2 {
                margin-left: $small-margin;
            }
            video {
                width: 100%;
                height: auto;
                padding: 1rem;
            }
        }
    }
}