$background-color: #E6DDCD;
$box-color: #E6DDCD;
$brand-color: #236841;
$font-color:#040404;
$menu-button-color: #6D7B42;
$border-colour: #6E4D19;
$headings-color: #4D4646;
$footer-links-color:#FFFFFF;
$link-hover-bg:#CECACA;