$background-color: #E6DDCD;
$box-color: #E6DDCD;
$brand-color: #236841;
$font-color:#040404;
$menu-button-color: #6D7B42;
$border-colour: #6E4D19;
$headings-color: #4D4646;
$footer-links-color:#FFFFFF;
$link-hover-bg:#CECACA;
<<<<<<< HEAD


//form colour
$form-red: #F00;
$form-bg:#EEE;
=======
//table
$table-bg: #a6a7a8;
>>>>>>> 3ee9ba8a4f14d0802d37c7761f92207db03d8efa
