$line-height: 1.8;
$line-spacing: 0.2rem;
$base-font: Arial,
Helvetica,
sans-serif;

// responsive font and line height
@mixin responsive-font {
    //https://css-tricks.com/books/fundamental-css-tactics/scale-typography-screen-size/
    font-size: calc(16px + (19 - 16) * ((100vw - 500px) / (1800 - 500)));
}

@mixin responsive-line-height {
    line-height: calc(1.2rem + (1.5 - 1.2) * ((100vw - 500px)/(1800 - 500)));
}

@font-face {

    font-family: 'Parisian';
    src: url('/fonts/parisr.eot') format('eot');
    src: url('/fonts/parisr.svg') format('svg');
    src: url('/fonts/parisr.ttf') format('truetype');
src: local('/fonts/parisr.woff') format('woff');
    }
  