@mixin no-underline-link {
    text-decoration: none;
}

@mixin set-container-width ($number) {
    width: $number;
}

// link mixins
@mixin hide-links {
    visibility: hidden;
    height: 0;
}

@mixin bulletless-list {
    list-style: none;
}

// hide items
@mixin hide-element {
    display: none
}

@mixin block-elem {
    display: block;
}

@mixin center-block {
    margin: 0 auto;
}

@mixin center-text {
    text-align: center;
}

// darken images
@mixin img-darken {
    img {
        mix-blend-mode: darken;
    }
}

// grid 
@mixin single-column-grid {
    display: grid;
    grid-template-columns: 1fr;
}

@mixin two-column-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@mixin three-column-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

// media queries
@mixin mobile {
    @media screen and (max-width: $phone-width) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: $tablet-width) {
        @content;
    }
}

@mixin desktop {
    @media screen and(min-width: $desktop-width) {
        @content;
    }
}

@mixin responsive-font {
    //https://css-tricks.com/books/fundamental-css-tactics/scale-typography-screen-size/
    font-size: calc(16px + (19 - 16) * ((100vw - 500px) / (1800 - 500)));
}

@mixin responsive-line-height {
    line-height: calc(1.3rem + (1.5 - 1.2) * ((100vw - 500px)/(1800 - 500)));
}