@mixin no-underline-link {
    text-decoration: none;
}

//function to convert %in to decimals
@mixin set-container-width ($number) {
    width: $number;
}

//hide link mixins
@mixin hide-links {
    visibility: hidden;
    height: 0;
}

// link hover 
@mixin link-hover {
    a {
        font-size: large;
        color: $brand-color;
        &:hover {
            font-weight: 600;
        }
    }
}

@mixin bulletless-list {
    list-style: none;
}

// hide items
@mixin hide-element {
    display: none
}

@mixin block-elem {
    display: block;
}

@mixin center-block {
    margin: 0 auto;
}

@mixin center-text {
    text-align: center;
}

// darken images
@mixin img-darken {
    img {
        mix-blend-mode: darken;
    }
}

// grid 
@mixin single-column-grid {
    display: grid;
    grid-template-columns: 1fr;
}

@mixin two-column-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@mixin three-column-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

// media queries
@mixin mobile {
    @media screen and (max-width: $phone-width) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: $tablet-width) {
        @content;
    }
}

@mixin desktop {
    @media screen and(min-width: $desktop-width) {
        @content;
    }
}