@mixin no-underline-link {
    text-decoration: none;
}

@mixin set-container-width ($number) {
    width: $number;
}

@mixin bulletless-list {
    list-style: none;
}

@mixin hide-element {
    display: none
}

//delivery table completed
@mixin block-elem {
    display: block;
}

@mixin center-block {
    margin: 0 auto;
}

@mixin center-text {
    text-align: center;
}

// darken images
@mixin img-darken {
    img {
        mix-blend-mode: darken;
    }
}

// grid 
@mixin single-column-grid {
    display: grid;
    grid-template-columns: 1fr;
}

@mixin two-column-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@mixin three-column-grid {
    display: grid;
    grid-template-columns: 0.8fr 0.8fr 0.8fr;
}

// media queries
@mixin mobile {
    @media screen and (max-width: $phone-width) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: $tablet-width) {
        @content;
    }
}

@mixin desktop {
    @media screen and(min-width: $desktop-width) {
        @content;
    }
}