$phone-width:600px;
$tablet-width: 601px;
$desktop-width: 1024px;
//margin
$small-margin: 1rem;
$large-margin: $small-margin*2;
// width
$full-width :100%;
//padding
$small-padding: 0.5rem;
$large-padding: 1rem;
//grid gap
$medium-gridgap: 1rem;
//line height
$line-height-small: 1.15;
$line-height-medium: 1.25;
$line-height-large: 1.5;
//font height
$font-height-small: 1.15rem;
$font-height-medium: 1.30rem;
$font-height-large: 1.5rem;
//font size