$phone-width:550px;
$tablet-width: 551px;
$desktop-width: 1024px;
//margin
$small-margin: 1rem;
$large-margin: $small-margin*2;
<<<<<<< HEAD
// width
$full-width :100%;
//padding
$small-padding: 0.5rem;
$large-padding: 1rem;


$medium-gridgap: 1rem;
=======
$full-width: 100%;
$small-padding: 0.5rem;
$large-padding: 1rem;
>>>>>>> 3ee9ba8a4f14d0802d37c7761f92207db03d8efa
