@import 'scss/config';
@import 'scss/variables';
@import 'scss/font';
@import 'scss/functions';
@import 'scss/colors';
@import 'scss/mixins';
@import 'scss/pages/header';
@import 'scss/pages/footer';
@import 'scss/pages/home';
@import 'scss/pages/books';
@import 'scss/pages/contactus';
@import 'scss/pages/19century';
@import 'scss/pages/delivery';
//Styling for all pages
body {
    background-color: $background-color;
    color: $font-color;
    @include mobile {
        .main-picture {
            display: none;
        }
    }
}

main {
    padding: $large-padding;
}

h1 {
    font-weight: lighter;
    font-family: Parisian;
}

h2 {
    font-family: Parisian;
    text-decoration: underline;
    text-decoration-color: $brand-color;
}

a {
    @include bulletless-list;
    @include no-underline-link;
}

#navbar {
    @include center-block;
    width: decimal-width(5);
    text-align: center;
    ul {
        li {
            &:hover {
                >ul {
                    visibility: visible;
                    opacity: 1;
                    display: block;
                    background: $background-color;
                }
            }
            margin: 0.4rem;
            padding: 0.4rem;
            background-color: $menu-button-color;
            border: groove;
            @include block-elem;
            & :hover {
                color: $footer-links-color;
            }
            a {
                color: black;
                display: block;
            }
            ul {
                display: none;
                &:hover {
                    visibility: visible;
                    opacity: 1;
                    display: block;
                }
                li {
                    width: decimal-width(9);
                }
            }
        }
    }
    @include tablet {
        width: decimal-width(5);
    }
    @include desktop {
        width: decimal-width(4.5);
        margin: 0;
    }
}